/*GENERAL*/
html
{
    font-family: 'Sniglet', sans-serif;
}
*
{
	margin: 0;
	padding:0;
}
body
{
	font-family: 'Sniglet',sans-serif;
	font-size:18px;
}

footer
{
	height: 100px;
}
a
{
	text-decoration: none;
	color: #444;
}

a:hover
{
	color: orange;
}
a.button:hover
{
	color:white;
}
h2
{
	color: #444;
	font-size: 38px;
}

textarea{
	border-radius: 25px;
	padding-left: 12px;
	border: 2px solid black;
}

.container10
{
    font-family: Sniglet,sans-serif;
	width: 940px;
	margin: 0 auto;
	padding: 0px;
}

.footerBasic{
     height: absolute;
     position: absolute;
     bottom: -190px;
     background-color: lightgrey;
     position: relative;
     border-top: 2px black solid;
}



.orange
{
	color: #ff7a00;
}

#logo
{
  border-radius: 15%;
  margin-right: 8px;
}

/* FOOTER */

footer
{
	font-family: Sniglet,sans-serif;
    height: 260px;
    background-color: #444;
}
footer h1
{
    color: #fff;
    text-align: center;
    padding-top: 65px;
}
.copyright
{
    text-align: center;
    font-weight: bold;
    padding-top: 36px;
    color: #fff;
}


/* NAVBAR */
.navbar
{
    font-family: 'Sniglet', sans-serif;
    border-bottom: 2px solid;
}
.bg-light
{
    background: #fff !important;
}
.nav-item
{
    font-size:18px;
    padding-left: 25px;
}
.navbar .navbar-collapse
{
    text-align: center;
}
.navbar li a
{
    color:#000 !important;
}
.navbar-light .navbar-nav .nav-link:link, .navbar-light .navbar-nav .nav-link:visited
{
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
    color: #000  !important;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:active
{
    border-bottom: 2px solid #FF8C00 ;
}
.navbar-default .navbar-toggle
{
    border-style:none;
}
.icon-bar
{
    background-color: #fff !important;
}
/*MAIN IMAGE*/

#main-image
{
	height: 350px;
	background: url('images/fond.jpg') center;
	margin-top: 0px;
	padding-top: 200px;
    border-bottom: 2px #000 solid;
}


#main-image .button
{
	display: block;
	width:300px;
	height: 50px;
	background: #ff7a00;
	color: #ffffff;
	font-size: 20px;
	margin: 0 auto;
	line-height: 50px;
	text-align: center;
	border-radius: 7px;
    margin-top:-50;
}
.navbar-brand img
{
    border-radius: 2px;
}



/* STEPS*/

#steps
{
	background-color: #efefef;
	padding: 60px 0;
	padding-left: 75px;
	height: 390px;
}

#steps article
{
	width: 270px;
	height: 270px;
	float: left;
	color: black;
}

#steps article div
{
	width: 270px;
	height: 270px;
	float: left;
	border-radius: 11px;
	color: black;
}

#article1 div
{
	background-size: 140% ;
	background-image: url(images/Image1);
	-webkit-box-shadow: 16px 22px 29px -14px rgba(0,0,0,0.48);
	-moz-box-shadow: 16px 22px 29px -14px rgba(0,0,0,0.48);
	box-shadow: 16px 22px 29px -14px rgba(0,0,0,0.48);
	border: 2px solid black;
}


#article2 div
{
	background-size: 140% ;
	background-image: url(images/Image2);
	-webkit-box-shadow: 16px 22px 29px -14px rgba(0,0,0,0.48);
	-moz-box-shadow: 16px 22px 29px -14px rgba(0,0,0,0.48);
	box-shadow: 16px 22px 29px -14px rgba(0,0,0,0.48);
	border: 2px solid black;
}

#article3 div
{
	background-size: 140% ;
	background-image: url(images/Image3);
	-webkit-box-shadow: 16px 22px 29px -14px rgba(0,0,0,0.48);
	-moz-box-shadow: 16px 22px 29px -14px rgba(0,0,0,0.48);
	box-shadow: 16px 22px 29px -14px rgba(0,0,0,0.48);
	border: 2px solid black;
}


#steps article:nth-child(1)
{
	margin-right: 30px;
}

#steps article:nth-child(2)
{
	margin-right: 30px;
}



#steps p
{
	text-align: center;
}


#Image1
{
	height: 172px;
	width: 172px;
	padding-left: 40px;
	padding-top: 35px;
	padding-bottom: px;
	margin-left: 38px;
}

#Image2
{
	height: 172px;
	width: 172px;
	padding-left: 50px;
	padding-top: 35px;
	padding-bottom: 6px;
	margin-left: 35px;
}

#Image3
{
	height: 172px;
	width: 172px;
	padding-left: 50px;
	padding-top: 40px;
	padding-bottom: 10px;
	margin-left: 34px;
}

#steps #h41,#h42
{
	padding-left: 90px;
}
#steps #h43
{
	padding-left: 103px;
}


#steps #p1,#p2,#p3
{
	font-size: 18px;
	background-color: white;
	border-radius: 6px;
	padding: 1px;
	margin: 4px;
	opacity: 0.8;
}



#steps div div
{
	border:1px solid black;
}



/*PAGE CONNEXION*/

.container2
{
    width: 420px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FF8C00;
    height: 400px;
    margin-top: 100px;
    padding-top: 40px;
    border-radius: 25px;
    border: 2px black solid;
    margin-bottom: 80px;
}

.container2 div
{
    position: relative;
    padding-left: 31px;
    margin-top:10px;
}


#ImageConnection
{
    height: 50%;
    position: static;
    display: block;
    margin: 0 auto;
    background-attachment: fixed;
}


input[type=text] {
  border: 1px solid black;
  border-radius: 4px;
}
input[type=number] {
  border: 1px solid black;
  border-radius: 4px;
}

input[type=password] {
  border: 1px solid black;
  border-radius: 4px;
}
input[type=date] {
  border: 1px solid black;
  border-radius: 4px;
}
button
{
    background: #FF8C00;
}
button:active
{
     background-color: orange;
     box-shadow: 0 4px #666;
     transform: translateY(4px);
}

button:hover
{
     background-color: orange;
}


/*PAGE INSCRIPTION*/

#ImageInscription
{
	height: 30%;
	position: static;
	display: block;
	margin: 0 auto;
	background-attachment: fixed;
	padding-bottom: 20px;
}


.container3 div
{
	position: relative;
	padding-left: 30px;
	margin-top:10px; /*Pour modifier la hauteur entre le TextBox et l'image user*/
}

.container3
{
	width: 600px;
	margin: 0 auto;
	padding: 20px;
	background-color: #FF8206;
	height: 850px;
	margin-top: 150px;
	padding-top: 60px;
	border-radius: 25px;
    border:2px black solid;
    margin-bottom: 80px;
}

.FofoInscription1{
     margin-top: 20px;
     margin-bottom: 25px;
}

/*RECETTE*/


.RecetteClassLabel
{
	display: relative;
    margin: 0 auto;
    text-align: center;
}


.container4
{
	width: 600px;
	margin: 0 auto;
	padding: 20px;
	height: 770px;
	margin-top: 25px;
	padding-top: 40px;
    border:2px black solid;
    background-color: #FF8206;
    border-radius: 25px;
    box-shadow: 10px 5px 5px grey;
    margin-bottom: 130px;
}


.RecetteClassLabel input{
	margin-left: 50px;
}

.RecetteClassLabel{
	margin-bottom: 5px;
}

.RecetteClassLabel input[type="text"] {
    width: 220px;
    height: 20px;
}
.RecetteClassLabel input[type="number"] {
    width: 220px;
    height: 20px;
}

#ClassR1 label{
	margin-left: 59px;
}
#ClassR2 label{
	margin-left: -72px;
}
#ClassR3 label{
	margin-left: -45px;
}
#ClassR4 label{
	margin-left: -82px;
}
#ClassR5 label{
	margin-left: 4px;
}
#ClassR12 label{
	margin-left: -1px;
}

.RecetteClassLabel input{
	border-color: black;
	border:1px black solid;
}

#ChoisirPhoto{
	border:2px black solid;
	border-style: solid;
	border-radius: 5px;
	background-color:white;
}

#Enregistrer{
	margin-left: 500px;
}

/*
#bodyRecette{
	color:black;
	background-color:white;
	background-image:url(images/bg3.jpg);
	background-size: cover;
}
*/

#bodyRecette #Enregistrement{
	color: black;
	text-shadow: 1px 1px 1px orange;
}



/* MODIF COMPTE */

#Container5
{
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FF8206;
    height: 430px;
    margin-top: 80px;
    padding-top: 40px;
    border:1px black solid;
    -moz-box-shadow: 10px 10px 12px 0px #656565;
    -webkit-box-shadow: 10px 10px 12px 0px #656565;
    -o-box-shadow: 10px 10px 12px 0px #656565;
    box-shadow: 10px 10px 12px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=12);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 25px;
    margin-bottom: 80px;
}

#Container5 input
{
    height: 35px;
    width: 330px;
    margin-left: auto;
    margin: 0 auto;
    margin-left:20px;
    margin-top:25px;
    text-align: center;
    border-radius: 12px;
}

#Container5 h2
{
    font-size:30px;
    color:#fff;
    text-align: center;
    margin-bottom: 25px;
    text-shadow: 0.1em 0.1em 0.05em #333
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.help-inline
{
    color: red;
    font-size: 15px;
}

.thumbnail img
{
    background: #ffd301;
}
.caption > h4
{
    color: #e7480f;
    font-size: 18px;
}
.admin
{
    background: #fff;
    padding: 50px;
    border-radius: 10px;
}